.CallHome{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.SubCallHome{   
    width: 80%;
    height: 80%;
    border: 1px solid black;
}
.CallHomeButton{
    display: flex;
    height: 10%;
    background-color: hsl(105, 2%, 80%);
    justify-content: flex-end;
   padding-right: 20px;
}
.CallHomeButton p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.CallHomeText{
    position: relative;
    height: 70%;
    background-color: hsl(100, 7%, 91%);
}
.CallOption{
    display: flex;
    height: 20%;
    background-color: hsl(105, 2%, 80%);
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.CallOption p{
    display: flex;
    flex-direction: column;
    position: relative;
}
.CallOption label,.CallStopOption label,#StopCall label{
    position: absolute;
    font-size: 10px;
    text-transform: capitalize;
    text-wrap: nowrap;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.CallOption p span:hover + label,#StopCall p span:hover + label{
    top: -20px;
    opacity: 1;
}
.CallStopOption p span:hover + label{
    top: -20px;
    opacity: 1;
    animation: appelle 1s ease-in-out infinite;
    transform-origin: center center;
}
@keyframes appelle{
    0% {opacity: 0;}
    50% { opacity: 1; }
    100% { opacity: 0; }
}
.CallHomeText{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
}
.CallStopOption{
    display: flex;
    gap: 40%;
    align-items: center;
    justify-content: center;
   
}
.CallStopOption p{
   position: relative;
}
.CallHomeText img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: scale-down;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
}

#StopCall{
    position: relative;
}